duckling==1.8.0
Flask==1.1.1
pymongo==3.10.1
rasa==2.8.1
rasa-sdk==2.8.1
requests==2.25.1
SPARQLWrapper==1.8.4
SQLAlchemy==1.3.12
Unidecode==1.1.1

lxml==4.6.5
#/python/administrator/browser/XmlController.py
xmltodict==0.12.0
#/python/administrator/browser/JSONController.py
pandas==1.3.3
#/python/administrator/browser/road_issues_parser.py
beautifulsoup4==4.8.0
#/python/administrator/ckan_connector/ckanSearch.py
jicson==1.0.1
#/python/administrator/ckan_connector/ckanSearch.py
jellyfish==0.8.2
#/python/administrator/ckan_connector/ckanSearch.py
nltk==3.4.3
#/python/administrator/ckan_connector/ckanSearch.py
spacy==3.1.3 # uninstall jsonschema 3.2.0 -> jsonschema 3.0.2
#/python/administrator/ckan_connector/ckanSearch.py
#sentence-transformers==0.4.1.2
sentence-transformers==2.0.0 
#oupsieve, sentencepiece, nltk, jsonschema, xmltodict, spacy, sentence-transformers, pandas, lxml, jicson, jellyfish, beautifulsoup4
#  Attempting uninstall: jsonschema
#    Found existing installation: jsonschema 3.2.0
#    Uninstalling jsonschema-3.2.0:
#      Successfully uninstalled jsonschema-3.2.0
#ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
#rasa 2.8.1 requires jsonschema<3.3,>=3.2, but you have jsonschema 3.0.2 which is incompatible.

fuzzywuzzy==0.17.0

# dependecias del contendor del chatbot # podría separarse en otra imagen 
loguru==0.5.3
#gevent==1.4.0
gevent==20.9.0
# actualizacion de la librerias de gevent
greenlet==0.4.17
Flask-Compress==1.4.0
Flask-Cors==3.0.7

python-Levenshtein==0.12.2  
# warning rasa message

flasgger
# dependecias del contendor del api
# error al descarga el modelo de bert con la version 4.12.0
transformers==4.10.3
